p, 
h5 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container-wrapper {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 556px;
    -webkit-box-shadow: -1px 15px 9px -3px rgba(0,0,0,0.25); 
    box-shadow: -1px 15px 9px -3px rgba(0,0,0,0.25);
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: hsl(210, 31%, 80%);

    .content-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .avatar {
            width: 60px;
            height: 60px;
            border-radius: 100%;
        }

        .content-text {
            padding: 0 16px;
            text-align: left;

            .name {
                font-size: 16px;
                line-height: 18px;
                font-weight: 700;
            }

            .message {
                font-size: 14px;
                color: rgb(35, 35, 35);
            }
        }
    }

}